.smaply-persona-tool-bar-top {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 0 1.5rem;
  background: linear-gradient(180deg, #FFFFFF 0%, #F0F0F0 100%);

  .smaply-persona-tool-bar-left-group, .smaply-persona-tool-bar-right-group {
    display: flex;
  }

  .group-content{
    display: flex;
    align-items: center;
  }

  .persona-label{
    width: auto;
    height: auto;
    margin-left: 1rem;
    background-color: transparent;
    border-radius: 0;
    span{
      color: $global-nav-top-backgr;
      font-size: 1.25rem;
      font-weight: 300;
      line-height: initial;
    }
  }

  .smaply-user-input{
      min-width: 0;
      max-width: 20rem;
      margin-right: .25rem;
      border: none;
      color: $global-nav-top-backgr;
      font-size: 1.25rem;
      font-weight: 700;
      font-family: "Source Sans Pro", sans-serif;
      border-bottom: 2px solid $global-nav-top-backgr;
      background-color: transparent;
      cursor: pointer;
      outline: none;

      &:disabled{
        cursor: not-allowed;
        border-bottom: 2px solid transparent;
      }
  }

  .smaply-group-controls{
    display: flex;
    align-items: center;
    justify-content: center;
    .smaply-group-item{
      margin-right: 1.75rem;
      .smaply-icon{
        width: 2.25rem;
        height: 1.75rem;
        padding: 0 .5rem;

        svg path{
          fill: $global-nav-top-group-item-backgr;
        }
      }

      &:hover{
        svg path{
          fill: $scroll-bar;
        }
        .smaply-button-caption{
          span{
            color: $scroll-bar;
          }
        }
      }

      &:last-child{
        margin-right: 0;
      }
    }
    .smaply-group-controls{
      margin-right: 1.25rem;
      .smaply-group-item {
        margin-right: .5rem;
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }


  .smaply-button-caption{
    width: auto;
    span{
      white-space: nowrap;
      color: $global-nav-top-group-item-backgr;
    }
  }

}
