$white: #ffffff;
$black: #000000;

$scroll-bar: #A8ABD7;
$global-nav-top-backgr: #3C4646;
$global-nav-top-group-item-backgr: #646E6E;
$global-nav-top-group-item-icon: #B1B6B6;

$user-dashboard-header-backgr: #DCDCDC;
$invalid-input-backgr: #ffdce1;
$invalid-input-bottom-border: #f08080;

$background-color-dashboard-content: #F0F0F0;

$section-text: $white;