$white: #ffffff;
$black: #000000;

$scroll-bar: #A8ABD7;
$global-nav-top-backgr: #3C4646;
$global-nav-top-group-item-backgr: #646E6E;
$global-nav-top-group-item-icon: #B1B6B6;


$section-text: $white;